{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}用户注册 | 大圣的专属空间{% endblock %}

{% block content %}
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <h3>用户注册</h3>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
          <button class="btn btn-primary" type="submit">注册</button>
        </form>
        </div>
    </div>
</div>
<style>
    .signup{
        text-align: left;
    }
</style>
{% endblock %}
