{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>网页不存在 | 大圣的专属空间</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="{% static 'error/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="{% static 'error/js/jquery.min.js' %}"></script>
<!-- //js -->
<!-- font-awesome icons -->
<link href="{% static 'error/css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome icons -->
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
</head>
<body>
	<div class="main">
		<canvas id="myCanvas"></canvas>
		<div class="agileinfo_404_main">
			<div class="w3_agile_main">
				<h2>您访问的链接不存在，点击<a href="http://www.shanyonggang.cn">首页</a>查看更多内容</h2>
                <br>
				<div class="agile_404 w3layouts">
					<div class="agile_404_pos">
						<h3>4<span>0</span>4<img src="{% static 'error/images/1.png' %}" alt=" " /> </h3>
					</div>
					<img src="{% static 'error/images/3.png' %}" alt=" " class="w3l"/>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'error/js/particles.min.js' %}"></script>
    <script>
      window.onload = function() {
        Particles.init({
          selector: '#myCanvas',
          color: '#6b6b6b',
          connectParticles: true,
          minDistance: 100
        });
      };
    </script>
</body>
</html>